{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<h1><a href="/">Мой блог</a></h1>
<div class="row">
{% block article %}{% endblock %}
{% block login %}{% endblock %}
</div>
</body>
</html>